<html lang="en">
<%- include("../partials/head.ejs") %>

<body id="body">

  <header class="myheader">
    <h1>Orchestrator</h1>
  <%- include("../partials/nav") %>
  </header>

  <main id="main">
    <section>

          <div class="row">
            <div class="col-md-7"  style="margin: 0 auto;">
              <div class="card card-body">
                <h2 style="text-align: center">All Users: </h2>
                <table class="table table-sm">
                  <% if(users){ %>
                    <% users.forEach(user => { %>
                  <tr>
                    <th>User</th>
                    <th>User Id</th>
                    <th>Email</th>
                    <th>Update</th>
                    <th>Remove</th>
                  </tr>

                    <tr>
                      <td><a href="/users/<%= user.id %>"><%= user.name %></a></td>
                      <td><a><%= user.id %></a></td>
                      <td><%= user.email %></td>
          
                      <td><a class="btn btn-sm btn-info" href="/users/update/<%= user.id%>"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>     Update</a></td>
          
                      <td><a class="btn btn-sm btn-danger" href="users/delete/<%= user.id %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>     Delete</a></td>
                    </tr>
                    <%  }) %>
                    <% }else{ %>
                        <p>There are no users to display...</p>
                    <% } %>
                </table>
                <a class="btn btn-primary  btn-sm btn-block" href="/users/create" style="width: 200px ; margin:auto ;">Create User</a>
              </div>
            </div>
          </div>
    </section>
    </main>

    <!-- <script>
      const trashcan = document.querySelector('a.delete');
      trashcan.addEventListener('click', (e) => {
        const endpoint = `/users/${trashcan.dataset.doc}`;
        fetch(endpoint, {
          method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch(err => console.log(err));
      });
    </script> -->

  <%- include("../partials/footer.ejs") %>
 
</body>
</html>